/* Em làm gần xong r mới nhìn cái tỷ lệ ở ảnh nên nó hơi không đúng yêu cầu tý ạ */
.headAndFoot {
    width: 460px;
    height: 21 px;
    background-color:rgb(0, 250, 192);
    /* position: absolute; */
    left: 20px;
    color: white;
    text-align: center;
    margin-bottom: 3%;
    margin-left: 4%;
}
.general {
    width: 500px;
    height: 500px;
    background-color: paleturquoise;
    padding-top: 18px;
    /* position: relative; */
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Aside {
    height: 100px;
    width: 120px;
    background-color: rgb(110,219,110);
    text-align: center;
    padding-top: 20%;
    color: aliceblue;
}

.Article {
    height: 100px;
    width: 295px;
    background-color: rgb(251,176,76);
    color: aliceblue;
    padding-top: 100px;
    padding-right: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

#TextCen {
    color: aliceblue;
    text-align: center;
}

.boxImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}


.bg-img {
    width: 80px;
    height: 50px;
    padding-top: 27px;
    background-color: rgb(252,210,74);
    /* position: absolute; */


}